*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eebbc3;
}

.input{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    padding-right: 0.5rem;
}

.input input{
    border-radius: 6px;
    border: none;
    padding: 1rem;
}

.input input:focus{
    outline: none;
}

.input i{
    cursor: pointer;
}